.setting-button {
    background: none;
    /*background-image: url(../images/settings.svg);*/
    background-repeat: no-repeat;
    width: 38px;
    height: 38px;
    position: absolute;
    right: 0px;
    top: 0px;

    box-shadow: none;
    border: none;
    /*outline:none;*/
    cursor: pointer;

}

.setting-button svg {
    width: 100%;
}

.setting-button svg path {
    fill: var(--color1);
}

.setting-button:hover svg path,
.setting-button:focus svg path,
.setting-button:active svg path {
    fill: var(--color3);
    stroke: var(--color1);
}

.settings-container {
    padding: 15px;
    border-radius: 6px;
    color: #001936;

    box-shadow: 0px 3px 6px 0px rgba(112, 112, 112, 1);
    -webkit-box-shadow: 0px 3px 6px 0px rgba(112, 112, 112, 1);
    -moz-box-shadow: 0px 3px 6px 0px rgba(112, 112, 112, 1);

    position: absolute;
    top: 0px;
    right: 0px;

    width: 450px;
    z-index: 1;
}

.settings-container .close-btn {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    min-height: 20px;
    border: none;
    /*outline:none;*/
    padding: 0px;
    background: none;
}

.settings-container .close-btn img {
    max-width: 100%;
    height: auto;
}

.settings-container-themes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0px;
}

.settings-container-themes .theme-btn {
    background: none;
    padding: 0px;
    /*outline:none;*/
    border: none;
    font-size: .7rem;
    width: 80px;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
    color: var(--color1);
}

.settings-container-themes-title {
    text-align: left;
    width: 80px;
    color: var(--color1);
}

.settings-container-themes .theme-btn svg {
    display: block;
    margin: 0px auto 5px auto;

}

@media (max-width: 991px) {
    .setting-button {
        top: 5px !important;
        right: 5px !important;
    }

    .setting-button svg {
        width: 18.5px;
        height: 18.5px;
        background-size: contain;
    }

    .settings-container {
        width: 180px;
        padding: 15px 0px;
        top: 15px;
        right: 15px;
    }

    .settings-container-themes-title {
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
    }
}