@font-face {
    font-family: "Montserrat-Bold";
    src: url("./fonts/Montserrat-Bold.ttf");
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: auto;
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("./fonts/Montserrat-Regular.ttf");
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: auto;
}

@font-face {
    font-family: "Nunito-SemiBold";
    src: url("./fonts/Nunito-SemiBold.ttf");
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: auto;
}



* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: auto;
    box-sizing: border-box;
}

/* 
html,
body {
    height: 100%;
    background-color: #f4f4f4;
    overflow: hidden;
} */

body {
    margin: 0;
    background-color: #f4f4f4;
}

.mainContainer {
    overflow: auto;
}


.container {
    width: 100%;
    /* overflow-y: auto; */
    height: 100%;
    position: relative;

}

/* 
.container:active {
    border: 1px solid;
}

.container:focus {
    border: 1px solid;
} */

.category-3 {
    width: 550px;
}

.category-2 {
    width: 49%;
}

.draggableitemWraper-3 {
    width: 33.33%;
}

.draggableitemWraper-4 {
    width: 25%;
}



/*rajnish */
/* .row::after { 
content: "";
clear: both;
display: table;
}

*/
[class*="category-"] {
    padding-right: 18px;
    margin-top: 2px;

}

.category-0 {
    margin-left: 2px;
}

.categoryTitleCnt {
    border: 4px solid white;
    border-radius: 10px;
    box-shadow: 0px 9px 11px -6px grey;
}

.draggableitemWraper {
    float: left;
    padding: 10px 5px;
    /* border: 1px solid red; */
    width: 25%;
}

.nav-container {
    position: relative;
    /* bottom: 117px; */
    bottom: 8px;
    width: 100%;
    /* min-height: 73px; */
    display: none;
    font-size: 22px;
    min-height: 156px;
    padding-bottom: 10px;
}

.submit_btn,
.tryagain_btn,
.reset_btn {
    display: none;
    width: 253px;
    height: 63px;
    cursor: pointer;
    position: absolute;
    right: 6%;
    top: 50%;
    margin-top: -31.5px;
    border-radius: 6px;
    font-family: Montserrat-Bold;

    font-size: 25px;
    line-height: 28px;
    letter-spacing: 3px;

    cursor: pointer;
    background: #001a36;
    color: white;
    border-radius: 40px;
    /* 
    background: var(--color1);
    border: none;
    border-radius: 6px;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.375rem;
    cursor: pointer;
    min-width: 276px; */

}

/* 
.tryagain_btn {
    display: none;
    width: 253px;
    height: 63px;
    cursor: pointer;
    position: absolute;
    right: 6%;
    top: 50%;
    margin-top: -31.5px;

}

.reset_btn {
    display: none;
    width: 253px;
    height: 63px;
    cursor: pointer;
    position: absolute;
    right: 6%;
    top: 50%;
    margin-top: -31.5px;

} */

/* .submit_btn>svg,
.tryagain_btn>svg,
.reset_btn>svg {
    width: 100%;
    height: 100%;
} */

/* 
.container::after {
    content: "continar box";
    display: table;
    clear: both;
} */

*,
::after,
::before {
    box-sizing: border-box;
}

#title {
    font-family: Montserrat-Bold;
    color: rgb(0, 25, 54);
    font-size: 31px;
    margin: 0 auto;
    margin-top: 74px;
    width: 88%;

}

/* #instructionbold {
    margin: 1% 5% 0% 5%;
    font-weight: bold;
    margin-top: 1%;
    width: 90%;
} */


.settingContainer {
    top: 31px;
    right: 50px;
    position: absolute;
    width: 49px;
    height: 49px;
    z-index: 1;
}

.setting {
    width: 49px;
    height: 49px;
    position: absolute;
    /*background-image: url(../images/setting.png);*/
    background: none;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;

}

.setting>svg {
    width: 100%;
    height: 100%;
}

.settinToolsContainer {

    background: #BFBFBF;
    padding: 15px;
    border-radius: 6px;
    color: #001936;
    box-shadow: 0px 3px 6px 0px rgb(112 112 112);
    -webkit-box-shadow: 0px 3px 6px 0px rgb(112 112 112);
    -moz-box-shadow: 0px 3px 6px 0px rgba(112, 112, 112, 1);
    position: absolute;
    top: 30px;
    right: 40px;
    width: 450px;
    z-index: 1;
    display: none;
}

.toolsCnt {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0px;
}

.close {
    position: absolute;
    width: 18px;
    height: 18px;
    right: -6px;
    top: -6px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
    background-image: url(../images/close.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.toolContainer {

    background: none;
    padding: 0px;
    outline: none;
    border: none;
    font-size: 11px;
    width: 80px;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
    border: 3px solid transparent;
    font-family: Montserrat-Regular;
}

.toolsCnt {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0px;
}

.toolContainer_0 {
    font-size: 15px;
    text-align: left;
    width: 80px;
}

.toolContainer_4 {
    margin-right: 0px;
}

.tool {
    display: block;
    margin: 0px auto 5px auto;
    cursor: pointer;
}

.tool_0 {
    display: none;
}

.showhide {
    display: block;
}


#instructionnorm {
    font-family: Montserrat-Regular;
    color: rgb(0, 25, 54);
    font-size: 22px;
    width: 88%;
    margin: 0 auto;
    margin-top: 20px;
    padding-right: 25%;
}

.categoryContainer {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;


}

.feedback {
    width: 70%;
    padding-left: 6%;
    display: none;
    font-size: 22px;
}

.content {
    width: 88%;
    min-height: auto;
    /* background: white; */

    position: relative;
    overflow: auto;
    /* min-height: 420px; */
    min-height: 168px;
    margin: 0px auto;
    margin-top: 40px;
}

.contentMac {

    margin-top: 35px;
    min-height: 586px;

}

.submited .correct:after {
    content: "";
    width: 32px;
    height: 32px;
    background: url(../images/correct.png) no-repeat 0px 0px aliceblue;
    background-size: contain;
    top: 50%;
    right: -16px;
    position: absolute;
    margin-top: -16px;
}

.submited .incorrect:after {
    content: "";
    width: 32px;
    height: 32px;
    background: url(../images/incorrect.png) no-repeat 0px 0px aliceblue;
    background-size: contain;
    top: 50%;
    right: -16px;
    position: absolute;
    margin-top: -16px;
}


hr.first {
    border-top: 1px dashed #707070;
    margin: 16px 0px;
}

.dragableItemContainer {
    width: 98%;
    min-height: auto;
    /* background: white; */
    position: relative;
    overflow: auto;
    min-height: 260px;
    display: flex;
    margin: 0px auto;
    flex-wrap: wrap;
}

.draggableitem {
    font-size: 22px;
    padding: 10px 16px;
    width: 100%;
    min-height: 79px;
    /* border: none; */
    border-radius: 10px;
    /* box-shadow: 0px 3px 4px grey; */
    box-shadow: 0px 1px 4px grey;
    background: white;
    text-align: left;
}

#loadingImg {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    /* half width*/
    margin-top: -100px;
    /* half height*/
}


input[type=button] {
    border: 2px solid transparent;
    outline: 2px solid transparent;
    font-size: 0px;
    /* background-color: transparent; */
}

input[type=button]:focus {
    outline: 2px solid;
    /* border: 2px solid; */
}

button {
    border: 2px solid transparent;
    outline: 2px solid transparent;
    font-size: 0px;
}

button:focus {
    outline: 2px solid;
    /* border: 2px solid; */
}

.borderTransparent {
    border: 3px solid transparent;
}

.correctBorder {
    border: 4px solid green;
}

.incorrectBorder {
    border: 4px solid red;
}



.template {
    width: 99.6%;
    height: 99.6%;
    position: absolute;
    top: 0.2%;
    left: 0.2%;
    background-color: transparent;
}

.categoryTitle {
    background: #001936;
    /* border: 1px solid #FFFFFF; */
    border-radius: 10px;
    padding: 10px;
    font-size: 24px;
    width: 100%;
}

.category .draggableitemCnt {
    margin: 10px 0px;
    position: relative;
}

.catHr {
    border-top: 1px dashed #707070;
    margin: 0px 0px;
    display: none;
}

/* iphone x portrait mode*/
@media only screen and (min-device-width : 280px) and (max-device-width : 1366px) {

    hr.first {
        display: none;
    }

    .categoryTitleCnt {
        border: 0px solid white;
        border-radius: 0px;
        box-shadow: 0px 0px 0px 0px transparent;
    }

    .settingContainer {
        width: 18.5px;
        height: 18.5px;

        top: 16px;
        right: 10px;
    }

    .setting {
        width: 18.5px;
        height: 18.5px;

        top: 0px;
        /* right: 10px; */
    }

    .popup {
        position: absolute;
        right: 63px;
        top: -2px;
    }


    .content {
        width: 100%;
        margin: 5px 0%;
        /* min-height: 475px; */
        min-height: 280px;
    }

    .catHr {

        display: block;
    }


    #title {
        margin-top: 40px;
        font-size: 18px;
        width: 92%;
    }

    #instructionnorm {
        font-size: 14px;
        padding-right: 0px;
        width: 92%;
    }

    .categoryTitle {
        font-size: 16px;
        width: 100%;
        text-align: left;
    }

    /* 
    .category-3 {
        
    } */

    .dragableItemContainer {
        width: 94%;
        min-height: 125px;
    }

    .draggableitemWraper {
        width: 96%;
        padding: 10px 1%;
    }

    .categoryContainer {
        flex-direction: column;
    }

    [class*="category-"] {
        width: 100%;
        padding: 10px 4%;
        border-bottom: 2px dotted #001936;
    }

    .draggableitem {
        font-size: 14px;
    }

    .submited .incorrect:after {
        content: "";
        width: 20px;
        height: 20px;
        background: url(../images/incorrect.png) no-repeat 0px 0px aliceblue;
        background-size: contain;
        top: 50%;
        right: -10px;
        position: absolute;
        margin-top: -10px;
    }

    .submited .correct:after {
        content: "";
        width: 20px;
        height: 20px;
        background: url(../images/correct.png) no-repeat 0px 0px aliceblue;
        background-size: contain;
        top: 50%;
        right: -10px;
        position: absolute;
        margin-top: -10px;
    }

    .nav-container {
        position: fixed;
        bottom: 0;
        width: 100%;
        display: block;
        font-family: Montserrat-Regular;
        color: rgb(74, 74, 74);
        display: none;
        min-height: 78px;
        background: #f4f4f4;
        margin-top: -120px;
        padding: 4%;
        -webkit-box-shadow: 0px -4px 8px 0px rgb(112 112 112);
        -moz-box-shadow: 0px -4px 8px 0px rgba(112, 112, 112, 1);
        box-shadow: 0px -4px 8px 0px rgb(176 174 174);
        font-size: 16px;

    }

    .submited {
        padding-bottom: 183px;
    }

    .feedback {
        width: 100%;
        padding-left: 0%;
        display: none;
        font-size: 16px;
    }


    .submit_btn {
        display: none;
        width: 171px;
        height: 44px;
        cursor: pointer;
        position: absolute;
        left: 50%;
        top: auto;
        bottom: 10px;
        margin-top: -22px;
        margin-left: -85.5px;
        font-size: 15px;
        border-width: 1px;
        line-height: 19px;
    }

    .tryagain_btn {
        display: none;
        width: 171px;
        height: 44px;
        cursor: pointer;
        position: absolute;
        left: 50%;
        top: auto;
        bottom: 10px;
        margin-top: -22px;
        margin-left: -85.5px;
        font-size: 15px;
        border-width: 1px;
        line-height: 19px;
    }

    .reset_btn {
        display: none;
        width: 171px;
        height: 44px;
        cursor: pointer;
        position: absolute;
        left: 50%;
        top: auto;
        bottom: 10px;
        margin-top: -22px;
        margin-left: -85.5px;
        font-size: 15px;
        border-width: 1px;
        line-height: 19px;
    }

    /* .position-try-reset-btn {
        margin-top: 80px;
    } */

    .adjust-nav-cnt {
        height: auto;
        min-height: 78px;
        padding-bottom: 57px;

    }



}




/* ipad portrait mode*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

    .feedback {
        width: 100%;
        display: none;
        font-size: 16px;
        /* margin-top: -41px; */
        background: #F4F4F4;
        padding: 0 6%;
    }

    .categoryTitleCnt {
        border: 0px solid white;
        border-radius: 0px;
        box-shadow: 0px 0px 0px 0px transparent;
    }

    hr.first {
        display: none;
    }

    .setting {
        width: 35.5px;
        height: 35.5px;
        top: 0px;
        right: 0px;
    }

    .content {
        /* padding-bottom: 5px; */
        /* min-height: 749px; */
        min-height: 249px;
        margin-top: 30px;
    }


    #title {
        margin-top: 40px;
        font-size: 18px;
    }

    .container {
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
        margin-right: auto;
        margin-left: auto;
    }

    #instructionnorm {
        font-size: 14px;
    }

    .reset_btn {
        width: 43px;
        height: 43px;
    }

    .reset_btn {
        margin-right: 20px;
    }





}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .content {
        min-height: 521px;
    }

    hr.first {
        display: none;
    }

    .categoryTitleCnt {
        border: 0px solid white;
        border-radius: 0px;
        box-shadow: 0px 0px 0px 0px transparent;
    }

}


/* ipad pro portrait mode*/
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) and (orientation : portrait) {

    hr.first {
        display: none;
    }

    .categoryTitleCnt {
        border: 0px solid white;
        border-radius: 0px;
        box-shadow: 0px 0px 0px 0px transparent;
    }

    .setting {
        width: 35.5px;
        height: 35.5px;
        top: -8px;
        right: 24px;
    }

    .settinToolsContainer {
        top: 10px;
        right: 35px;
    }

    .popup {
        right: 65px;
    }

    /* 
    .navSpace {
        height: 72px;
    } */

    .content {
        /* padding-bottom: 70px; */
        /* min-height: 977px; */
        min-height: 235px;
        margin-top: 30px;
    }

    #title {
        margin-top: 40px;
        font-size: 31px;
    }

    #instructionnorm {
        font-size: 22px;
    }


}


/* ipad pro portrait mode*/
@media only screen and (min-device-width : 1025px) and (max-device-width : 1366px) and (orientation : landscape) {

    hr.first {
        display: none;
    }

    .categoryTitleCnt {
        border: 0px solid white;
        border-radius: 0px;
        box-shadow: 0px 0px 0px 0px transparent;
    }

    .content {
        /* padding-bottom: 70px; */
        min-height: 760px;
        margin-top: 30px;
    }

    .fullContent {
        margin: 35px 0% 35px 0%;
    }


}

@media only screen and (max-width: 768px) {
    .settinToolsContainer {
        width: 210px;
        height: auto;
        right: 11px;
        top: 10px;
    }

    .categoryTitleCnt {
        border: 0px solid white;
        border-radius: 0px;
        box-shadow: 0px 0px 0px 0px transparent;
    }

    .settinToolsContainer .toolTxt_0 {
        width: 100%;
        margin: 0px;
    }

    .settinToolsContainer .toolContainer_0 {
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
    }

    .toolContainer_4,
    .toolContainer_3,
    .toolContainer_2,
    .toolContainer_1 {
        width: 85px;
        text-align: center;
        margin: 0px 0px 10px 0px;
    }

    button.setting svg {
        max-width: 100%;
    }
}