@font-face {
    font-family: "HelveticaNeue-Bold";
    src: url("./fonts/HelveticaNeueBd.ttf");
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: auto;
    font-weight:bold;
}

@font-face {
    font-family: "HelveticaNeue-Regular";
    src: url("./fonts/HelveticaNeue.ttf");
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: auto;
}



@font-face {
    font-family: "montserrat bold";
    src: url("./fonts/Montserrat-Bold.ttf");
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: auto;

    font-weight:bold;
}

@font-face {
    font-family: "montserrat regular";
    src: url("./fonts/Montserrat-Regular.ttf");
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: auto;

    font-weight:normal;
}

:root {
    --color: #000000;
    --background: #FFF; 
    --selectioncolor: #F5BA5C; 
    --cardCount: 8;
  }

html,body{
    font-size:16px;
}
body {
    margin: 0;
    background-color: #fafafa;
    font-family: "HelveticaNeue-Regular";
    font-weight: normal;
}
header{
    background: #fff;
    z-index: 999;
   
}
.text-end {
    text-align: right!important;
    width: 100%;
    margin-top: 54px;
}
.no-grid{
    display: none !important;
}

.close-bt:focus, .close-bt:focus-visible{
    outline: 1px solid white;
    border: 1px solid black;
    border-radius: 4px;
}
.close-bt{
    outline: 1px solid transparent;
    border: 1px solid transparent;
}
.toolContainer:focus, .toolContainer:focus-visible{
    border: 2px solid black;
}

.wrong-border-up{
    border: 2px solid red !important;
    border-bottom: none !important;
    cursor: auto !important;
}
.wrong-border-bottom{
    border: 2px solid red !important;
    border-top: none !important;
    cursor: auto !important;
}
.right-border-up{
    border: 2px solid rgb(1, 207, 32) !important;
    border-bottom: none !important;
    cursor: auto !important;
}
.right-border-bottom{
    border: 2px solid rgb(1, 207, 32) !important;
    border-top: none !important;
    cursor: auto !important;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 97%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}
.disabled{
    pointer-events: none;
    opacity: 0.5;
}

.submit_btn:focus, .submit_btn:focus-visible, .tryagain_btn:focus,
.tryagain_btn:focus-visible, .reset_btn:focus,
.reset_btn:focus-visible{
    box-shadow: 0 0 0 0.15rem rgb(0 0 255) !important;
}

.btn-submit{
    background: #d4450c;
    border: none;
    padding: 13px 24px 15px 24px;
    color: #fff;
    font-family: "HelveticaNeue-Bold";
    font-size: 22px;
    border-radius: 10px;
    line-height: 16px;
}
.toolCnt{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0px;
}

.toolTxt {
    font-family: "HelveticaNeue-Regular";
    letter-spacing: 1px;
    text-align: center;
    text-transform: capitalize;
}
.settinToolsContainer {
    width: 232px;
}
.toolContainer {
    background: none;
    padding: 0px;
    outline: none;
    margin-right: 5px;
    border: 2px solid transparent;
    font-size: .7rem;
    width: 80px;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
}
.toolContainer_0 {
   
}
.toolContainer_0 {
    font-size: 15px;
    text-align: left;
    width: 80px;
}

.toolContainer_4 {
    margin-right: 0px;
    width: 85px;
}

.tool {
    display: block;
    margin: 0px auto 5px auto;
    cursor: pointer;
}

.tool_0 {
    display: none;
}

.reset_btn{
    display: none;
}
.tryagain_btn{
    display: none;
}

.btn:hover {
    color: #fff;
}
.sticky .head-btn-wrap{
    position: unset;
}
.activity-header{
    border-bottom: solid 1px #ddd;
    position: relative;
    box-shadow: 0px 1px 10px #d6d6d6;
    padding-bottom: 22px;
    position: fixed;
    width: 100%;
    
    top: 0px;
}
.activity-content{
    position: fixed;
    height: calc(100vh - 209px);
    top: 209px;
    overflow-y: auto;
    width: 100%;
}
.activity-title{
    color: var(--color);
    font-size: 22PX;
   font-family: "HelveticaNeue-Bold";
    padding-top: 15px;
    font-weight: bold;
    min-height: 71px;
}
.activity-instruction{
    font-weight:normal;
    color: var(--color);
    font-size: 1.5rem;
    margin-top: 20px;
}

.feedback{
    margin-left: 0px;
    line-height: 26px;
    letter-spacing: 0.2px;
    font-weight: normal;
    color: #5e6062;
    font-family: "HelveticaNeue-Regular";
    font-size: 20px;
}

.buttonCont{
    float: right;
}


.clickable-item:focus-visible, .clickable-item:focus{
    border: 2px solid #6666FF !important;
}

.clickable-items{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 15px;
    z-index: 0;
}
.clickable-items .clickable-item, .matching-items .clickable-item {
    background: var(--color);;
    color: var(--background);
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    width: 224px;
    margin: 0 auto 15px auto;
    border-radius: 15px 15px 0px 0;
    padding: 20px 18px;
    border: solid 2px #BCBCBC;
    cursor: pointer;
}
.row.clickableBlock{
    display: grid;
    grid-template-columns: repeat(var(--cardCount), 12px);
    column-gap: 0px;
    z-index: 2;
}
.clickable-items .clickable-item{
    height: 71px;
    box-shadow: 0px 4px 4px 1px #c5c5c5;
}
.clickable-items .clickable-item.selected{
    border:solid 2px var(--selectioncolor);
}
.matching-items .clickable-item.selected{
    border:solid 2px var(--selectioncolor);
}

.selected:focus{
    outline: none;
}

.clickable-items .clickable-item p,  .matching-items .clickable-item p{
    margin-bottom: 0px;
    font-size: 18px;
    text-align: center;
    font-family: "HelveticaNeue-Bold";
}
.matching-element .clickable-item p{
    font-size: 18px;
    font-family: "HelveticaNeue-Bold";
}

.matching-element{
    margin: 0 auto 15px 0;
    border-radius: 6px;
    display:inline-flex;
}
.clickable-item.wrong-border-up::after{ 
    content: "";
    width: 36px;
    height: 36px;
    /* top: calc(50% - 18px); */
    top: -11px;
    right: -14px;
    position: absolute;
    display: inline-block;
    z-index: 1;
    background-size: contain; 
}
.clickable-item.right-border-up::after{ 
    content: "";
    width: 36px;
    height: 36px;
    /* top: calc(50% - 18px); */
    top: -11px;
    right: -14px;
    position: absolute;
    display: inline-block;
    z-index: 1;
    background-size: contain; 
}
.matchedEvent{
    display: flex;
    justify-content: flex-end;
}
/* .matching-element.correct-ans.submitted {
    border: solid 2px #63a524;
    border-radius: 17px;
}
.matching-element.wrong-ans.submitted {
    border: solid 2px #c22032;
    border-radius: 15px;
} */
.clickable-item.right-border-up::after{
    background-image:url(../images/check.png);
}
.clickable-item.wrong-border-up::after{
    background-image: url(../images/remove.png);
}

.matching-items{
    margin-top:25px;
    position: relative;
}
.matching-item:focus, .matching-item:focus-visible{
    border: 2px solid #6666FF !important;
}
.matching-items .matching-item{
    outline: none;
    background: var(--background);
    color: #4a4a4a;
    display: flex;
    align-items: start;
    justify-content: center;
    min-height: 100px;
    width: 224px;
    min-width: 224px;
    max-width: 224px;
    border-radius: 0 0 15px 15px;
    padding: 10px 10px;
    border: 2px solid #707070;
}
.matching-items .matching-item p{
    margin-bottom: 0px;
    font-size: 16px;
    text-align: left;
    color: var(--color);
    line-height: 20px;
    font-family: "HelveticaNeue-Regular";
    letter-spacing: 0.2px;
    font-weight: normal;
}

.btn.btn-primary{
    background: #001936;
    border:solid 1px #001936;
    border-radius:6px;
    font-weight:bold;
    font-size:1.5rem;
    cursor:pointer;
    min-width:250px;
    float: right;
    position: absolute;
}



.matching-items{
    flex-direction: row;
}
.matching-items .matching-element{
    /* display: flex;
    flex-direction: column; */
    gap:0;
    position: relative;
}

.matching-items .clickable-item {
    margin: 0px;
    width: 224px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    position: absolute;
    top: 0;
    max-height: 18.2vh;
    padding: 20px 20px;
    border: 2px solid rgba(0,0,0,0);
}
.matching-items .matching-item {
    margin-top: 99px;
}
.matching-items .clickable-item + .matching-item{
    border-top-left-radius: 0;
    border-top-right-radius: 0;        
}

.setting-btn{
    position: fixed;
    right: 12px;
    top: 0;
}
.setting-btn .note{
    background: #5f6062;
    color: #fff;
    padding: 8px 5px 0 5px;
    border: none;
    font-size: 18px;
    margin-right: 8px;
}
.setting-btn .cog{
    background: transparent;
    padding: 8px 5px 0 5px;
    border: none;
    font-size: 18px;
    margin-right: 8px;
}
.cog:focus-visible{
    outline: -webkit-focus-ring-color auto 2px;;
}
#r-feedback{
    display: none;
}
#w-feedback{
    display: none;
}
.head-btn{
    position: relative;
    right: 14px;
    text-align: end;
}
.head-btn-wrap{
    position: absolute;
    width: 100%;
    right: 0;
    z-index: 1;
}
.sticky .head-btn-wrap{
    position: unset;
}
.head-btn .notice-card {
    right: 28px;
    text-align: start;
    position: absolute;
    background: #5e6062;
    color: #fff;
    width: 547px;
    padding: 24px 59px 16px 22px;
    top: 0;
    font-size: 20px;
    display: none;
    line-height: 26px;
    font-family: "HelveticaNeue-Regular";
}


.notice-card p{
    letter-spacing: 0.2px;
    margin-bottom: 0px;
}
.head-btn .note{
    background: #5f6062;
    color: #fff;
    padding: 2px 5px 0 5px;
    border: none;
    font-size: 18px;
    margin-right: 8px;
}
.head-btn .cog{
    background: transparent;
    color: #fff;
    padding: 2px 5px 0 5px;
    border: none;
    font-size: 18px;
    margin-right: 8px;
}
.notice-card button{
    background: none;
    border: none;
    color: #fff;
    position: absolute;
    right: 10px;
    top: 17px;
    font-weight: normal;
}






@media screen and  (device-width: 1350px), (device-height: 760px){
    .matching-element.submitted::after {
        top: -15px;
        right: -4px;
    }
    .activity-title {
        font-size: 22PX;
        line-height: 28px;
        width: 808px;
    }
    .clickable-items .clickable-item{
        width: 224px;
        padding: 20px;
    }
    .matching-items .matching-item {
        width: 224px;
    }
    .clickable-items .clickable-item {
        /* width: 97%; */
        padding: 20px;
        margin-bottom: 0px;
    }
    .matching-element {
        margin: 0 auto 35px auto;
        border-radius: 6px;
        display: inline-flex;
        position: relative;
    }
    .head-btn .notice-card {
        width: 547px;
    }
    .matching-items .matching-item {
        margin-top: 99px;
    }
    .matching-items .clickable-item {
        margin: 0px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        position: absolute;
        top: 0;
        max-height: 18.2vh;
        padding: 20px 20px;
    }
    
}

@media screen and (min-width: 1024px), (max-width: 1349px) {
    .clickable-items .clickable-item {
        height: 8.2vh;
    }
  
    .matching-items .clickable-item {
        max-height: 8.2vh;
    }
    .clickable-items .clickable-item{
        width: 224px;
        padding: 20px;
    }
    
    .activity-title {
        font-size: 22PX;
        line-height: 28px;
        width: 808px;
    }
    .clickable-items .clickable-item{
        /* left: 0px;
        top: 0px; */
        z-index: 999999999;
        padding: 20px;
        margin-bottom: 0px;
    }
}
@media (min-width: 1200px){
.col-xl-2 {
    flex: 0 0 auto;
    width: 19.666667%;
}
}

@media screen and (max-width: 900px) {
    .clickable-items .clickable-item {
        height: 10.2vh;
    }
}

@media screen and (device-width: 650px), (device-height: 365px){
    .activity-header{
        position: fixed;
        width: 100%;
        /* height: 49%; */
    }
    .matching-element.submitted::after {
        right: -21px;
    }
    .matching-items .clickable-item {
        width: 198px;
    }
    .matching-items .matching-item {
        max-width: 198px;
        min-width: 198px;
    }
    .no-grid{
        display: none !important;
    }
    .clickable-item.wrong-border-up::after{
        height: 20px;
        width: 20px;
        right: -8px;
        top: -8px;
    }
    .clickable-item.right-border-up::after{
        height: 20px;
        width: 20px;
        right: -8px;
        top: -8px;
    }

    .feedback {
        /* width: calc(100% - 135px); */
        margin-left: 0px;
        line-height: 20px;
        letter-spacing: 0.2px;
        font-weight: normal;
        color: #5e6062;
        font-size: 16px;
    }
    .notice-card button {
        top: 10px;
        right: 7px;
    }
    .activity-content{
        position: fixed;
        top: 52%;
        height: 51%;
        overflow-y: auto;
    }

    .head-btn .notice-card {
    width: 301px;
    font-size: 14px;
    font-family: "HelveticaNeue-Regular";
    line-height: 18px;
    letter-spacing: 0.2px;
    padding: 19px 18px 16px 15px;
    }
    .h-179{
        min-height: 179px;
    }
    .activity-title {
        font-size: 16px;
       font-family: "HelveticaNeue-Bold";
        line-height: 20px;
        max-height: 141px;
    }
    .clickable-items .clickable-item p, .matching-items .clickable-item p {
        margin-bottom: 0px;
        font-size: 17px;
        text-align: center;
        font-family: "HelveticaNeue-Bold";
    }
    .matching-items .matching-item p {
        font-size: 14px;
    }
    .btn-submit {
        font-size: 16px;
        line-height: 16px;
    }
    .clickable-items .clickable-item{
        width: 198px;
        padding: 20px;
    }
    .matching-items .matching-item {
        width: 198px;
    }
   

    /* .pad0{
        padding-bottom: 0px;
    } */

}

@media screen and (device-width: 530px), (device-height: 943px), (orientation: portrait) {
    .activity-header{
        position: fixed;
        width: 100%;

    }
    .activity-content{
        top: 250px;
    }
    .feedback {
        /* width: calc(100% - 135px); */
        margin-left: 0px;
        line-height: 20px;
        letter-spacing: 0.2px;
        font-weight: normal;
        color: #5e6062;
        font-size: 16px;
    }
    .clickable-items .clickable-item{
        width: 198px;
        padding: 20px;
    }
    .matching-items .matching-item {
        width: 198px;
    }
    .activity-title {
        font-size: 17px;
       font-family: "HelveticaNeue-Bold";
        font-weight: bold;
        line-height: 22px;
    }
    .no-grid{
        display: none !important;
    }

    .clickable-item.wrong-border-up::after, .clickable-item.right-border-up::after{
        width: 20px;
        height: 20px;
        top: -8px;
        right: -8px;
    }

    .clickable-items .clickable-item p, .matching-items .clickable-item p {
        margin-bottom: 0px;
        font-size: 17px;
        text-align: center;
        font-family: "HelveticaNeue-Bold";
    }
    .matching-items .clickable-item {
        max-height: 8.2vh;
        padding: 18px;
        width: 198px;
    }
    .matching-items .matching-item {
        width: 198px;
        margin-top: 100px;
        min-width: 198px;
    }
    .btn-submit {
        font-size: 16px;
    }
    
    .head-btn .notice-card {
        width: 303px;
        font-size: 14px;
        line-height: 18px;
    }
    .notice-card button {
        right: 7px;
        top: 10px;
    }
    .notice-card p {
        letter-spacing: 1px;
        font-size: 14px;
        line-height: 18px;
    }
    .matching-items .matching-item p {
        margin-bottom: 0px;
        font-size: 14px;
    }

    /* .clickable-items{
        height: 50px;
    } */
    .clickable-items .clickable-item{
        /* left:0px;
        top:0px; */
        margin-bottom: 0px;
    }
    .matching-element{
        width: 198px;
        flex-direction: column;
    }
}

@media screen and (max-width: 529px){
    
    .p-48p{
        top: 48% !important;
    }
    .matchedEvent:last-of-type{
        margin-bottom: 100px;
    }
    .activity-header{
        position: fixed;
        width: 100%;
    }
    .activity-content{
        position: fixed;
        overflow-y: auto;
    }
    .feedback{
        width: 100%;
        margin: 0;
        letter-spacing: 1px;
        font-size: 16px;
        line-height: 20px;
    }
    .text-end{
        margin-top: 20px;
    }
    .head-btn .notice-card {
        width: 547px;
        line-height: 20px;
    }
    .activity-title {
        padding-top: 0;
    }
    
    .matching-items .matching-item p {
        margin-bottom: 0px;
        font-size: 14px;
        text-align: left;
        color: var(--color);
        line-height: 18px;
        font-family: "HelveticaNeue-Regular";
        letter-spacing: 1px;
    }
    .matching-items .clickable-item {
        /* position: unset; */
        padding: 20px;
    }
    .matching-items .matching-item {
        width: 198px;
        min-width: 198px;
        margin-top: auto;
        max-width: 198px;
        /* display: flex;
    align-items: flex-end; */
    }
    .col-6 {
        flex: 0 0 auto;
        width: 100%;
    }
    .head-btn-wrap{
        position: unset;
    }
    .setting-btn {
        position: unset;
        right: 12px;
        top: 0;
        text-align: end;
    }
    .head-btn .notice-card {
        width: 255px !important;
    }
    .head-btn .notice-card {
        padding: 27px 18px 16px 15px;
    }
    .clickable-items{
        display: unset;
    }
    .text-end.footer{
        text-align: center !important;
    }

    
    .matching-items {
        margin-top: 25px;
        position: relative;
        padding: 0 52px;
    }
    .clickable-items .clickable-item {
        min-width: 198px;
        padding: 20px;
    }
    
    

    .settings-container{
        width: 232px;
    }

    .toolContainer_0 {
        width: 100%;
    }

    .mobile-submit{
        display: none;
    }
}


