@font-face {
    font-family: "HelveticaNeue-Bold";
    src: url("./fonts/HelveticaNeueBd.ttf");
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: auto;

}

@font-face {
   font-family: "HelveticaNeue";
    src: url("./fonts/HelveticaNeue.ttf");
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: auto;

}

@font-face {
    font-family: "montserrat bold";
    src: url("./fonts/Montserrat-Bold.ttf");
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: auto;

}

@font-face {
    font-family: "montserrat regular";
    src: url("./fonts/Montserrat-Regular.ttf");
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: auto;

}

.mobile-hidden{
visibility: hidden;
pointer-events: none;
}

* {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
}
.hidden-feed{
    display: none !important;
}
.mainContainer {
    overflow: auto;
}
.toolsCnt button:focus {
    outline: 1px solid green;
    border: 2px solid transparent;
    padding: 8px 0px;
}

.mouse-none{
    pointer-events: none;
}

.container {
    width: 96%;
    margin: auto;
    /* overflow-y: auto; */
    height: 100%;
    position: relative;

}
section .container{
    width: 100%;
}

.invisible {
    visibility: hidden;
    pointer-events: none;
    display: none ;
}
.inactive{
    pointer-events: none;
}

.container:focus {
    border: 1px solid;
}

header{
    /* border-bottom: 2px dotted #d5d5d5; */
    padding-bottom: 11px;
    box-shadow: 0px 1px 10px #d6d6d6;
}
.category{
    display: flex;
    /* border-bottom: 2px dotted #d5d5d5; */
    align-items: center;
    position: relative;
}
/* .category-3:after{
    position: absolute;
    content: '';
    width: 300px;
    height: 2px;
    background: red;
} */
.categoryTitle button:focus {
    outline: 2px solid green;
    border: 2px solid transparent;
}
.wrong-cat{
    background-color: #e4a6ad !important;
}
.right-cat{
    background-color: #c0d9a8 !important;
}
.categoryTitleCnt {
    padding: 13px 32px;
    /* position: fixed;
    z-index: 999;
    background: #fff; */
}
/* .categoryDroppableCnt{
    margin-left: 250px;
} */

.categoryTitleCnt.twoCnt {
    padding: 42px 32px;
}
.categoryTitleCnt.right{
    background: #C0D9A8;
    padding: 13px 32px;
}
.categoryTitleCnt.wrong{
    background: #E4A6AD;
    padding: 13px 32px;
}
::-webkit-scrollbar {
    width: 10px;
    height: 7px;
    border-radius: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border: 1px solid #ddd;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #d5d5d5;
    opacity: 1;
    
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 10px;
    background-clip: content-box;
    border: 1px solid #ddd;
    width: 1px;
    opacity: 0.4;
    
  }
  ::-webkit-scrollbar-button:single-button {
    background-color: rgb(0, 0, 0);

    display: block;
    background-size: 10px;
    background-repeat: no-repeat;
  }
  /*left*/
  ::-webkit-scrollbar-button:single-button:horizontal:decrement {
    height: 12px;
    width: 12px;
    background-position: 0px 0px;
    background-image: url(../images/left.png);

}

::-webkit-scrollbar-button:single-button:horizontal:decrement:hover {
    background-image: url(../images/left.png);
}

::-webkit-scrollbar-button:single-button:horizontal:decrement:active {
    background-image: url(../images/left.png);
}
/*right*/
::-webkit-scrollbar-button:single-button:horizontal:increment {
    height: 12px;
    width: 12px;
    background-position: 0px 0px;
    background-image: url(../images/right.png);
}

::-webkit-scrollbar-button:single-button:horizontal:increment:hover {
    background-image: url(../images/right.png);
}

::-webkit-scrollbar-button:single-button:horizontal:increment:active {
    background-image: url(../images/right.png);
}
/* .category-0 {
    width: 8.33%;
}

.category-1 {
    width: 16.66%;
}

.category-2 {
    width: 50%;
}

.category-3 {
    width: 162px;
    padding: 24px 7px;
    background: #000;
}

.category-4 {
    width: 25%;
}

.category-5 {
    width: 20%;
}

.category-6 {
    width: 16.66%;
}

.category-7 {
    width: 14.28%;
}

.category-8 {
    width: 12.5%;
}

.category-9 {
    width: 11.11%;
}

.category-10 {
    width: 10%;
}

.category-11 {
    width: 9.09%;
} */


.draggableitemWraper-3 {
    width: 33.33%;
}

.draggableitemWraper-4 {
    width: 25%;
}
.card-wrap{
    display: grid;
    grid-template-columns: repeat(15, 10px);
    column-gap: 0px;
    z-index: 2;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.feedback{
    display: none;
    transform: translateY(-4px);
}
.feedback p{
    font-size: 18px;
    line-height: 28px;
    width: 1120px;
    font-family: "HelveticaNeue";
    font-weight: 700;
    letter-spacing: 1px;
}
.draggableitemWraper {
    /* position: absolute;
    left: 0; */
    width: 358px;
    border-radius: 14px;
}
/* .draggableitemWraper_1{
    left: 15px;
}
.draggableitemWraper_2{
    left: 30px;
}
.draggableitemWraper_3{
    left: 45px;
}
.draggableitemWraper_4{
    left: 60px;
}
.draggableitemWraper_5{
    left: 75px;
}
.draggableitemWraper_6{
    left: 90px;
}
.draggableitemWraper_7{
    left: 105px;
}
.draggableitemWraper_8{
    left: 120px;
}
.draggableitemWraper_9{
    left: 135px;
} */

.feedback {
    letter-spacing: 0.2px;
    font-family: "HelveticaNeue";
    font-size: 18px;
}
.nav-container {
    position: relative;
    width: 100%;
    height: 73px;
    z-index: 0;
    /* display: none; */
}
.nav-container button{
    background: #d4450c;
    border: none;
    padding: 13px 24px 15px 24px;
    color: #fff;
    font-family: "HelveticaNeue-Bold";
    font-size: 22px;
    border-radius: 10px;
    line-height: 16px;
}
.nav-container button[disabled]{
    opacity: 0.65;
}
.submit_btn {
    cursor: pointer;
    position: absolute;
    right: 0%;
    bottom: 0;
}


.tryagain_btn {
    cursor: pointer;
    position: absolute;
    right: 0%;
    bottom: 0;
}

.reset_btn {
    cursor: pointer;
    position: absolute;
    right: 0%;
    bottom: 0;
}

.submit_btn>svg,
.tryagain_btn>svg,
.reset_btn>svg {
    width: 100%;
    height: 100%;
}

/* 
.container::after {
    content: "continar box";
    display: table;
    clear: both;
} */

*,
::after,
::before {
    box-sizing: border-box;
}

#title {
    font-size: 20px;
    line-height: 28px;
    width: 808px;
    margin: 0px 0 4px 0px;
    font-family: "HelveticaNeue-Bold";
    min-height: 56px;
    padding: 8px;
}

/* #instructionbold {
    margin: 1% 5% 0% 5%;
    font-weight: bold;
    margin-top: 1%;
    width: 90%;
} */


.settingContainer {
    top: 0;
    right: 24px;
    position: fixed;
    z-index: 4;
}

.setting {
  background: none;
  border: 2px solid transparent;
}

.showText {
    background: #5f6062;
    color: #fff;
    padding: 8px 5px 0 5px;
    border: 2px solid transparent;
    font-size: 18px;
    margin-right: 8px;
}



.settinToolsContainer {
    background: #BFBFBF !important;
    padding: 10px;
    border-radius: 6px;
    color: #001936;
    box-shadow: 0px 3px 6px 0px rgb(112 112 112);
    -webkit-box-shadow: 0px 3px 6px 0px rgb(112 112 112);
    -moz-box-shadow: 0px 3px 6px 0px rgba(112,112,112,1);
    position: absolute;
    top: 5px;
    right: 0px;
    width: 450px;
    display: none;
}
.toolTxt{
    font-family: "HelveticaNeue";
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: capitalize;
}


.close {
    position: absolute;
    width: 18px;
    height: 18px;
    right: 0px;
    top: 0px;
    border-radius: 50%;
    cursor: pointer;
    background-image: url(../images/close.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.toolContainer {

    background: none;
    padding: 8px 0px;
    outline: none;
    margin-right: 5px;
    outline: 1px solid transparent;
    border: 2px solid transparent;
    font-size: .7rem;
    width: 80px;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.toolsCnt {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0px;
}

.toolContainer_0 {
    font-size: 15px;
    text-align: left;
    width: 80px;
}

.toolContainer_4 {
    margin-right: 0px;
}

.tool {
    display: block;
    margin: 0px auto 5px auto;
    cursor: pointer;
}

.tool_0 {
    display: none;
}

.showhide {
    display: block;
}

.help-popup{
    position: absolute;
    background: #5e6062;
    right: 18px;
    width: 547px;
    padding: 23px 107px 18px 20px;
    z-index: 4;
    top: 0;
}
.help-popup .popup-close{
    color: #ffff;
    z-index: 99999999;
    font-size: 25px;
    background: none;
    position: absolute;
    right: 23px;
    top: 11px;
    font-family: "HelveticaNeue";
}
#instructionnorm {
    font-family: "HelveticaNeue";
    color: #fff;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.2px;
    font-weight: normal;
}

.categoryContainer {
    position: relative;


}

.content {
    overflow: auto;
}

.contentMac {

    margin-top: 35px;
    min-height: 586px;

}

.submited .correct:after {
    content: "";
    width: 25px;
    height: 25px;
    background: url(../images/correct.png);
    background-size: contain;
    top: -5px;
    right: -5px;
    position: absolute;
    background-repeat: no-repeat;
}

.submited .incorrect:after {
    content: "";
    width: 25px;
    height: 25px;
    background: url(../images/incorrect.png);
    background-size: cover;
    top: -5px;
    right: -5px;
    position: absolute;
    background-repeat: no-repeat;
}


hr.first {
    border-top: 1px dashed #707070;
    margin: 20px 0px;
}

.dragableItemContainer {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.draggableitem {
    font-size: 16px;
    padding: 7px 14px;
    text-align: start;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16);
    background: white;
    border-radius: 14px;
    border: 2px solid #fff;
    outline: 1px solid transparent;
    min-height: 9vh;
    letter-spacing: 0.2px;
    font-family: "HelveticaNeue" !important; 
}

#loadingImg {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    /* half width*/
    margin-top: -100px;
    /* half height*/
}


input[type=button] {
    border: 0px solid transparent;
    outline: 0;
    font-size: 0px;
    /* background-color: transparent; */
}

input[type=button]:focus {
    outline: auto;
    border: 0px solid;
}

button {
    cursor: pointer;
    border: 0px solid transparent;
    outline: 0px solid transparent;
    /* font-size: 0px; */
}
button[disabled]{
    cursor: auto;
}
button:focus {
    outline: 1px solid red;
    border: 0px solid transparent !important;
}

.template {
    width: 99.6%;
    height: 99.6%;
    position: absolute;
    top: 0.2%;
    left: 0.2%;
}

.categoryTitle {
    font-size: 18px;
    line-height: 24px;
    width: 176px;
    min-height: 175px;
    padding: 22px 16px;
    background: #000;
    border-radius: 10px;
    border: 2px solid transparent;
    font-family: "HelveticaNeue-Bold" !important;
}
.categoryTitle.paddingCnt {
    font-size: 18px;
    line-height: 24px;
    width: 176px;
    padding: 50px 16px;
    background: #000;
    border-radius: 10px;
    font-family: "HelveticaNeue-Bold" !important;
}
.categoryDroppableCnt{
    padding: 14px 0px;
}

.category .draggableitemCnt {
    margin: 0px 0px 10px 0px;
    position: relative;
    width: 358px;
    margin-left: 9px;
    float: left;
    white-space: normal;
}

.catHr {
    border: none;
    border-bottom: 2px dotted #d5d5d5;
    margin: 0px 0px;
    display: block;
    width: 100%;
}
.bottom-btn {
    background: #5e6062;
    font-size: 16px;
    color: #fff;
    font-family: "HelveticaNeue-Bold";
    padding: 5px 81px;
    width: 100%;
    text-transform: capitalize;
    text-align: center;
    display: none;
    position: fixed;
    bottom: 0px;
}


@media screen and  (device-width: 1350px), (device-height: 760px){
   
    .nav-container button {
        font-family: "HelveticaNeue-Bold";
        font-size: 20px;
    }
    
    .categoryDroppableCnt{
        display: grid;
        grid-template-rows: repeat(2, 80px);
        gap: 10px 8px;
        grid-auto-flow: column;
        grid-auto-columns: 360px;
    }

    .category-2 .categoryTitleCnt_0{
        position: fixed;
        top: 144px;  
        padding: 33px 32px;
        background: #fff;
        z-index: 99;
    }
    .category-2 .categoryTitleCnt{
        padding: 38px 32px;
    }
    .category-2 .categoryTitleCnt_1{
        position: fixed;
        top: 452px;     
        /* background: blueviolet;    */
    }
    .category-2 .categoryTitle{
        height: 231px;
        min-height: 231px;
    }
    .category-2 .categoryDroppableCnt{
        width: 84%;
        height: 306px;
        margin-left: 240px;
        /* background: blue; */
        padding: 55px 0;
    }
    /* .category-2 .categoryDroppableCnt{
        display: grid;
        grid-template-rows: repeat(2, 80px);
        gap: 40px 10px;
        grid-auto-flow: column;
        grid-auto-columns: 360px;
    } */
}

@media screen and (min-width: 1024px), (max-width: 1349px) {
  
}

@media screen and (max-width: 900px) {
  
}

@media screen and (device-width: 650px), (device-height: 365px){

    .draggableitem {
        font-size: 12px;
        padding: 7px 8px;
        text-align: start;
        background: white;
        border-radius: 14px;
        min-height: 55px;
        border: 2px solid #fff;
    }
    .catHr {
        position: fixed;

    }
    .submited .incorrect:after {
        top: -6px;
        right: -6px;
    }
    .submited .correct:after {
        top: -6px;
        right: -6px;
    }
    .category-3 .categoryTitle {
        font-size: 14px;
        line-height: 16px;
        padding: 4px 13px;
        width: 189px;
        min-height: 62px;
    }
    .category-3 .categoryTitleCnt {
        padding: 4px 16px;
        background: #fafafa;
        position: fixed;
        border-bottom: 2px dotted #d5d5d5;
        z-index: 999;
        box-shadow: 0 3px 6px 0px rgb(0 0 0 / 16%);
    }
    .category-3 .categoryTitleCnt_0 {
        padding: 6px 16px;
        background: #fafafa;
        position: fixed;
        z-index: 999;
        top: 125px;
        left: 0px;
        box-shadow: 0 3px 6px 0px rgb(0 0 0 / 16%);
    }
    .category-3 .categoryTitleCnt_1 {
        top: 201px;
        left: 0px;
    }
     .category-3 .categoryTitleCnt_2 {
        top: 273px;
        left: 0px;
    }
    .category-3 .categoryDroppableCnt {
        height: 72px;
    }
    .nav-container.width-reduce {
        width: 110px;
    }
    .feedback{
        font-size: 14px;
        width: 522px;
        letter-spacing: 1px;
        font-weight: 700;
        line-height: 20px;
        font-family: "HelveticaNeue";
    }
    
    .bottom-btn {
        padding: 4px 18px;
        width: 34%;
        font-size: 10px;
        display: block;
        position: fixed;
        bottom: 0px;
    }
    .category .draggableitemCnt {
        width: 270px;
        margin: 0px 2px 0px 20px;
    }
    
    
    #instructionnorm {
        font-family: "HelveticaNeue";
        color: #fff;
        font-size: 12px;
        line-height: 18px;
    }
    .help-popup {
        width: 287px;
        padding: 14px 30px 10px 19px;
    }
    .help-popup .popup-close {
        font-size: 16px;
        right: 9px;
        top: 7px;
    }
    .feedback p {
        font-size: 12px;
        line-height: unset;
        width: 483px;
    }
    .categoryTitle {
        font-size: 18px;
        line-height: 24px;
        width: 176px;
        padding: 6px 16px;
        background: #000;
        border-radius: 10px;
        font-family: "HelveticaNeue-Bold" !important;
    }
    .categoryTitleCnt.right {
        padding: 8px 16px;
    }
    .categoryTitleCnt.wrong {
        padding: 8px 10px;
    }
    header {
        border-bottom: 2px dotted #d5d5d5;
        padding-bottom: 3px;
    }
    .draggableitemWraper {
        width: 270px;
    }
    .nav-container button {
        font-size: 13px;
        line-height: 16px;
        position: absolute;
        bottom: 10px;
        padding: 7px 18px;
        border-radius: 10px;
    }
    #title {
        font-size: 14px;
        line-height: 20px;
        margin: 5px 0px 4px 0px;
        width: 548px;
        min-height: 40px;
    }
    .categoryTitle {
        font-size: 14px;
        line-height: 16px;
        padding: 7px 16px;
        width: 189px;
        min-height: 71px;
    }
    .categoryTitle.paddingCnt {
        font-size: 12px;
        line-height: 16px;
        padding: 16px 16px;
        width: 189px;
    }
    
    
    .categoryTitleCnt {
    padding: 8px 16px;
    background: #fafafa;
    position: fixed;
    z-index: 999;
    box-shadow: 0 3px 6px 0px rgba(0,0,0,0.16);
    }
    .categoryTitleCnt.twoCnt {
        padding: 26px 16px;
    }
    .categoryDroppableCnt {
        height: 78px;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        /* margin-left: 210px; */
    }
    .content {
        overflow: auto;
        margin-left: 221px;
        position: relative;
    }
 
    .category {
        border-bottom: none;
    }
    .bottom-btn br{
        display: none;
    }
    .category-2 .categoryTitleCnt_0 {
        top: 127px;
        padding: 19px 16px;
    }
    .category-2 .categoryTitleCnt_1{
        top: 236px;
        padding: 19px 16px;
    }
    .category-2 .categoryDroppableCnt{
        height: 108px;
    }
    .hidden2{
        visibility: hidden;
        pointer-events: none;
    }
    
}

@media screen and (device-width: 530px), (device-height: 943px), (orientation: portrait) {
    .draggableitemWraper {
        width: 316px;
    }    
    .submit-hide{
        visibility: hidden;
        pointer-events: none;
        position: absolute;
        z-index: -999;
        width: 0 !important;
        font-size: 0px !important;
        padding: 0 !important;
    }
    .feedback {
        font-size: 16px;
        line-height: 20px;
        width: 488px;
        margin-top: 12px;
    }
    .nav-container {
        margin-top: 10px;
    }
    .dragableItemContainer{
        display: block;
    }
    header {
        border-bottom: 2px dotted #d5d5d5;
        padding-bottom: 45px;
    }
    .categoryDroppableCnt {
        padding: 0px 0px;
    }
    
    .container{
        width: 90%;
    }
    section .container {
        width: 100%;
    }
    .draggableitemWraper_0, .draggableitemWraper_1, .draggableitemWraper_2, .draggableitemWraper_3, .draggableitemWraper_4, .draggableitemWraper_5, .draggableitemWraper_6, .draggableitemWraper_7, .draggableitemWraper_8, .draggableitemWraper_9{
        top: 0px !important;
    }
    .draggableitem {
        font-size: 14px;
        min-height: 8vh;
        line-height: 20px;
        border: 0.2px solid #4a4a4a5c;
    }
    #title {
        font-size: 16px;
        line-height: 20px;
        width: 410px;
        margin: 24px 0 2px 0px;
        min-height: 59px;
    }
    
    
    .draggableitemWraper_1{
        left: 15px !important;
    }
    .draggableitemWraper_2{
        left: 30px !important;
    }
    .draggableitemWraper_3{
        left: 45px !important;
    }
    .draggableitemWraper_4{
        left: 60px !important;
    }
    .draggableitemWraper_5{
        left: 75px !important;
    }
    .draggableitemWraper_6{
        left: 90px !important;
    }
    .draggableitemWraper_7{
        left: 105px !important;
    }
    .category {
        padding: 0px 0px;
        display: block;
        text-align: center;
    } 
    .categoryTitle {
        font-size: 16px;
        line-height: 20px;
        width: 316px;
        min-height: 64px;
        padding: 8px 16px;
    }
    
    
    .categoryTitleCnt {
        padding: 14px 32px;
    }
    .category .draggableitemCnt {
        text-align: center;
        width: 316px;
        float: none;
        white-space: unset;
        margin: 16px auto;
    }
    #instructionnorm {
        font-size: 14px;
        line-height: 18px;
    }
    .help-popup {
        width: 295px;
        padding: 14px 11px 10px 14px;
    }
    .help-popup .popup-close {
        font-size: 19px;
        right: 11px;
        top: 4px;
    }
    .nav-container {
        text-align: center;
        height: auto;
    }
    .nav-container button {
        cursor: pointer;
            position: unset;
    right: 40%;
    padding: 14px 60px;
    color: #fff;
    font-family: "HelveticaNeue-Bold";
    font-size: 15px;
    border-radius: 11px;
    }
    .reset_btn {
        cursor: pointer;
            position: absolute;
    right: 40%;
    }
    .tryagain_btn {
        cursor: pointer;
            position: absolute;
    right: 40%;
    }
    

}

@media screen and (max-width: 529px){
    .submit-hide{
        visibility: hidden;
        pointer-events: none;
        position: absolute;
        z-index: -999;
        width: 0 !important;
        font-size: 0px !important;
        padding: 0 !important;
    }
    /* .draggableitemWraper_0, .draggableitemWraper_1, .draggableitemWraper_2, .draggableitemWraper_3, .draggableitemWraper_4, .draggableitemWraper_5, .draggableitemWraper_6, .draggableitemWraper_7, .draggableitemWraper_8, .draggableitemWraper_9{
        left: 0px !important;
    }
    .draggableitemWraper_0{
        top: 0px !important;
    }
    .draggableitemWraper_1{
        top:  5px !important;
    }
    .draggableitemWraper_2{
        top: 10px !important;
    }
    .draggableitemWraper_3{
        top: 15px !important;
    }
    .draggableitemWraper_4{
        top: 20px !important;
    }
    .draggableitemWraper_5{
        top: 25px !important;
    }
    .draggableitemWraper_6{
        top: 30px !important;
    }
    .draggableitemWraper_7{
        top:    35px !important;
    }
    .draggableitemWraper_8{
        top:    40px !important;
    }
    .draggableitemWraper_9{
        top:    45px !important;
    } */
    .feedback p {
        font-size: 16px;
        line-height: 20px;
        width: auto;
        font-family: "HelveticaNeue";
        font-weight: 700;
        letter-spacing: 1px;
    }
    .dragableItemContainer{
        display: block;
    }
    .draggableitem {
        font-size: 14px;
        min-height: 92px;
        box-shadow: 3px 3px 6px 0 rgb(0 0 0 / 16%);
        /* border: solid 0.3px #4a4a4a; */
        line-height: 20px;
    }
    .settingContainer {
        text-align: end;
        position: unset;
    }
    #title {
        margin: 0px 0 12px 0px;
    }
    .draggableitemWraper {
    width: 100%;
    margin: auto;
}
#title {
    font-size: 16px;
    line-height: 20px;
}

.main-sec{
    overflow: auto;
    height: 260px;
}
.pad-0{
    padding-bottom: 0px;
}
.categoryTitle {
    font-size: 14px;
    line-height: 20px;
    min-height: 55px;
    width: 276px;
    padding: 6px 10px;
}
.category {
    padding: 0px 0px;
    display: block;
    text-align: center;
}
.container{
    width: 85%;
}
section .container {
    width: 100%;
}
.help-popup {
    width: 255px;
    padding: 34px 10px 12px 13px;
}
.help-popup .popup-close {
    right: 14px;
    top: 6px;
    font-size: 15px;
}
.category .draggableitemCnt {
    width: 87%;
}
#instructionnorm {
    font-size: 14px;
    line-height: 18px;
    text-align: start;
}
.nav-container {
    text-align: center;
}
.submit_btn {
    cursor: pointer;
    position: absolute;
    right: 29%;
}
.reset_btn {
    cursor: pointer;
    position: absolute;
    right: 29%;
}
.tryagain_btn {
    cursor: pointer;
    position: absolute;
    right: 29%;
}
.bottom-btn{
    display: block;
}
.categoryTitleCnt {
    padding: 10px 0px;
}



.categoryDroppableCnt {
    padding: 0px 0px;
}
.toolTxt {
    text-align: center;
}
.settinToolsContainer {
    width: 232px;
}
.toolContainer {
    width: 39%;
    margin: 14px 8px;
}
.toolContainer_0 {
    width: 100%;
}
.hidden{
    display: none;
}
#title {
    font-size: 16px;
    line-height: 20px;
    width: 284px;
    min-height: 79px;
    margin: 0px 0 0px 0px;
}
.feedback {
    font-size: 16px;
    line-height: 20px;
    width: 284px;
    margin-top: 12px;
}
.nav-container button {
    cursor: pointer;
    position: unset;
    padding: 12px 59px;
    color: #fff;
    font-family: "HelveticaNeue-Bold";
    font-size: 16px;
    border-radius: 11px;
}
.card-wrap {
    display: grid;
    grid-template-rows: repeat(15, 3px);
    column-gap: 0px;
    z-index: 2;
    grid-template-columns: unset;
}


}