@font-face {
    font-family: "HelveticaNeue-Bold";
    src: url("./fonts/HelveticaNeueBd.ttf");
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: auto;
    font-weight:bold;
}

@font-face {
    font-family: "HelveticaNeue-Regular";
    src: url("./fonts/HelveticaNeue.ttf");
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: auto;
}

@font-face {
    font-family: "HelveticaNeue-Medium";
    src: url("./fonts/HelveticaNeueMed.ttf");
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: auto;
}



@font-face {
    font-family: "montserrat bold";
    src: url("./fonts/Montserrat-Bold.ttf");
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: auto;

    font-weight:bold;
}

@font-face {
    font-family: "montserrat regular";
    src: url("./fonts/Montserrat-Regular.ttf");
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: auto;

    font-weight:normal;
}

:root {
    --color: #000;
    --background: #FFF; 
    --selectioncolor: #F5BA5C; 
    --cardCount: 8;
  }

html,body{
    font-size:16px;
}
body {
    margin: 0;
    background-color: #fafafa;
    font-family: "HelveticaNeue-Regular";
    font-weight: normal;
    overflow: hidden;
}
header{
    background: #fff;
    z-index: 999;
   
}
.text-end {
    text-align: right!important;
    width: 100%;
    margin-top: 54px;
}
.no-grid{
    display: none !important;
}

.close-bt:focus, .close-bt:focus-visible{
    outline: 1px solid white;
    border: 1px solid black;
    border-radius: 4px;
}
.close-bt{
    outline: 1px solid transparent;
    border: 1px solid transparent;
}
.toolContainer:focus, .toolContainer:focus-visible{
    border: 2px solid black;
}

.wrong-border-up{
    border: 2px solid red !important;
    border-bottom: none !important;
    cursor: auto !important;
}
.wrong-border-bottom{
    border: 2px solid red !important;
    border-top: none !important;
    cursor: auto !important;
}
.right-border-up{
    border: 2px solid rgb(1, 207, 32) !important;
    border-bottom: none !important;
    cursor: auto !important;
}
.right-border-bottom{
    border: 2px solid rgb(1, 207, 32) !important;
    border-top: none !important;
    cursor: auto !important;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 97%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}
.disabled{
    pointer-events: none;
    opacity: 0.5;
}



.toolCnt{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0px;
}

.toolTxt {
    font-family: "HelveticaNeue-Regular";
    letter-spacing: 0.2px;
    text-align: center;
    text-transform: capitalize;
}
.settinToolsContainer {
    width: 232px;
}
.toolContainer {
    background: none;
    padding: 0px;
    outline: none;
    margin-right: 5px;
    border: 2px solid transparent;
    font-size: .7rem;
    width: 80px;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.toolContainer_0 {
    font-size: 15px;
    text-align: left;
    width: 80px;
}

.toolContainer_4 {
    margin-right: 0px;
    width: 85px;
}

.tool {
    display: block;
    margin: 0px auto 5px auto;
    cursor: pointer;
}

.tool_0 {
    display: none;
}

.reset_btn{
    display: none;
}
.tryagain_btn{
    display: none;
}

.btn:hover {
    color: #fff;
}
.sticky .head-btn-wrap{
    position: unset;
}
.top-description{
    height: 81px;
    background-color: #fafafa;
    padding-left: 38px;
    display: flex;
    align-items: center;
}

.activity-header{
    border-bottom: solid 1px #ddd;
    position: relative;
    box-shadow: 0px 1px 10px #d6d6d6;
    width: 100%;
    top: 0px;
}
.activity-content{
    position: fixed;
    height: calc(100vh - 209px);
    top: 209px;
    overflow-y: auto;
    width: 100%;
}
/* .activity-title{
    color: var(--color);
    font-size: 22PX;
    font-family: "HelveticaNeue-Bold";   
    font-weight: bold;
} */
.activity-instruction{
    font-weight:normal;
    color: var(--color);
    font-size: 1.5rem;
    margin-top: 20px;
}

.feedback{
    margin-left: 0px;
    line-height: 26px;
    letter-spacing: 0.2px;
    font-weight: normal;
    color: #5e6062;
    font-family: "HelveticaNeue-Regular";
    font-size: 20px;
}



.setting-btn{
    position: fixed;
    right: 12px;
    top: 0;
}
.setting-btn .note{
    background: #5f6062;
    color: #fff;
    padding: 8px 5px 0 5px;
    border: none;
    font-size: 18px;
    margin-right: 8px;
}
.setting-btn .cog{
    background: transparent;
    padding: 8px 5px 0 5px;
    border: none;
    font-size: 18px;
    margin-right: 8px;
}
.cog:focus-visible{
    outline: -webkit-focus-ring-color auto 2px;;
}

.head-btn{
    position: fixed;
    right: 14px;
    text-align: end;
    display: flex;
}
.head-btn-wrap{
    position: absolute;
    width: 100%;
    right: 0;
    z-index: 1;
    top: 0;
}
.sticky .head-btn-wrap{
    position: unset;
}
.head-btn .notice-card {
    right: 28px;
    text-align: start;
    position: absolute;
    background: #5e6062;
    color: #fff;
    width: 619px;
    height: 167px;
    padding: 24px 59px 16px 22px;
    top: 0;
    font-size: 20px;
    display: none;
    line-height: 26px;
    font-family: "HelveticaNeue-Regular";
}


.notice-card p{
    letter-spacing: 0.2px;
    margin-bottom: 0px;
}
.head-btn .note{
    background: #5f6062;
    color: #fff;
    padding: 2px 5px 0 5px;
    border: none;
    font-size: 18px;
    margin-right: 8px;
}
.head-btn .cog{
    background: transparent;
    color: #fff;
    padding: 2px 5px 0 5px;
    border: none;
    font-size: 18px;
    margin-right: 8px;
}
.notice-card button{
    background: none;
    border: none;
    color: #fff;
    position: absolute;
    right: 10px;
    top: 17px;
    font-weight: normal;
}

/*===================================FLIP CARD======================*/
.mid-cards{
    width: 85%;
display: grid;
grid-template-columns: repeat(4, 243px);
z-index: 2;
justify-content: center;
margin: auto;
}
.mid-cards-min{
    width: 85%;
    display: grid;
grid-template-columns: repeat(3, 250px);
z-index: 2;
justify-content: center;
}
.mid-cards .card{
    border: none;
width: 212px;
min-height: 246px;
border-radius: 12px;
margin-bottom: 27px;
}
.mid-cards .card p{
    font-size: 16px;
line-height: 20px;
width: 152px;
margin: auto;
font-family: 'HelveticaNeue-Regular';
}
.main-heading {
width: calc(100% - 154px);
float: left;
}
.activity-title {
color: var(--color);
font-size: 22PX;
font-family: "HelveticaNeue-Bold";

line-height: 28px;
width: 808px;
margin-bottom: 0px !important;
}

.a-container{
/* margin-top: 80px; */
text-align: center;
height: calc(100vh - 82px);
overflow-y: auto;
}
.cards-container{
text-align: center;
max-width: 1024px;
margin: 0 auto;
/* margin-top: 20px; */
}
.card-wrap{
display: inline-block;
margin: 0 10px 25px 10px;
padding-top: 15px;

}
.flip-card {
perspective: 1000px;
transition: transform 0.6s;
border-radius: 12px;
background-color: transparent;
border: none;
width: 212px;
height: 246px;
padding: 1px 0;
}

.flip-card-inner {
position: relative;
width: 100%;
height: 100%;
text-align: center;
border-radius: 12px;
transition: transform 0.6s;
transform-style: preserve-3d;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card p{
    text-align: left;
}

.flip-card-front, .flip-card-back {
position: absolute;
width: 100%;
border-radius: 12px;
height: 100%;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
padding: 0 23px 0 23px;
line-height: 20px;
}

.flip-card-front {
font-family:'HelveticaNeue-Regular';
background-color: var(--background);
color: var(--color);
border: 1px solid #707070;
border-radius: 12px;
display: flex;
flex-direction: column;
justify-content: center;
}

.flip-card-back {
font-family: 'HelveticaNeue-Medium';
background-color: var(--color);
border: 1px solid #707070;
color: var(--background);
border-radius: 12px;
transform: rotateY(180deg);
display: flex;
flex-direction: column;
justify-content: center;
}

.flipped{
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);

}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
width: 100%;
padding-right: 18px;
padding-left: 36px;
margin-right: auto;
margin-left: auto;
}

/*===================================FLIP CARD END======================*/

/*======================LARGE-DESKTOP==================================*/
@media screen and  (device-width: 1350px), (device-height: 760px){
    .activity-title {
        font-size: 22PX;
        line-height: 28px;
        width: 808px;
    }    
    .head-btn .notice-card {
        width: 547px;
    }
}

/*======================IFRAME==================================*/

@media screen and  (max-width: 1000px) and (orientation:landscape ){
    .top-description{
        height: 51px;
        padding-left: 20px;
    }
    .activity-title{
        font-size: 16px;
        line-height: 20px;
    }
    .a-container{
        margin-top: 0;
        height: calc(100vh - 55px);
    }

    .head-btn .notice-card{
        width: 320px;
        height: 134px;
        padding: 14px 16px 9px 16px;
        font-size: 14px;
        line-height: 18px;
    }
    .notice-card button{
        top: 3px;
        right: 2px;
    }
    .card-wrap{
        margin: 20px 30px 25px 30px;
    }

}

/*======================TAB==================================*/
@media screen and (min-width: 529px) and  (max-width: 1000px) and (orientation:portrait ){
    header .top-description{
        height: 75px;
        padding-left: 25px;
    }
    header .activity-title {
        font-size: 16px;
         font-family: "HelveticaNeue-Bold";        
        line-height: 22px;
        width: 400px;
    }
    
    header .head-btn .notice-card {
        width: 356px;
        height: 149px;
        font-size: 16px;
        line-height: 18px;
        padding: 14px 16px 12px 18px;
    }
    header .notice-card button {
        right: 7px;
        top: 10px;
    }
    header .notice-card p {
        letter-spacing: 0.2px;
    }    
    header .a-container{
        margin-top: 0px;
        padding-left: 25px;
    }
    header .top-description .notice-card{
        width: 320px ;
        height: 134px ;
        font-size: 14px ;
        line-height: 18px ;
        padding: 14px 16px 9px 16px ;
    }
    header .notice-card button{
        top: 5px;
        right: 5px;
    }
    .card-wrap{
        margin: 12px 10px 12px 10px;
    }
 }

/*======================MOBILE==================================*/

@media screen and (max-width: 529px) and (orientation: portrait){
    .activity-header{
        width: 100%;
    }
    .activity-title {
        font-size: 16px;
        line-height: 22px;
    }
    .activity-content{       
        overflow-y: auto;
    }
    .top-description{
        height: 96px;
        padding-left: 16px;
    }
    .a-container{
        margin-top: 0px;
        height: calc(100vh - 97px);
    }
    .head-btn .note{
        padding-top: 4px;
    }
    .setting-btn {
        position: unset;
        right: 12px;
        top: 0;
        text-align: end;
    }
    
    .head-btn .notice-card {
        padding: 17px 15px 7px 17px;
        width: 255px;
        height: 168px;
        font-size: 14px;
        line-height: 18px;  
    }
    .notice-card button{
        top: 7px;
    }
    .settings-container{
        width: 232px;
    }
    .toolContainer_0{
        width: 100%;
    }
    .card-wrap{
        margin: 10px 10px 10px 10px;
    }
}

/*=========================custom scrollbar============*/
/* ::-webkit-scrollbar-button {
    background-size: 100%;
    height: 10px;
    width: 10px;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
}

::-webkit-scrollbar-button:horizontal:increment {
    background-image: url(https://dl.dropboxusercontent.com/u/55165267/icon2.png);
}

::-webkit-scrollbar-button:horizontal:decrement {
    background-image: url(https://dl.dropboxusercontent.com/u/55165267/icon4.png);
}

::-webkit-scrollbar-button:vertical:increment {
    background-image: url(https://dl.dropboxusercontent.com/u/55165267/icon3.png);
}

::-webkit-scrollbar-button:vertical:decrement {
    background-image: url(https://dl.dropboxusercontent.com/u/55165267/icon.png);
}
 */


  
  .a-container::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
    width: 5px;
    border-radius: 5px;
    background-color: #d4d4d4;
  }
  
  .a-container::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
  }
  
  .a-container::-webkit-scrollbar-thumb {
    width: 5px;
    border-radius: 5px;
    /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3); */
    background-color: rgb(255, 255, 255);
    border: 1px solid #555;
  }
 .a-container::-webkit-scrollbar-button:single-button:vertical:decrement {
    width: 5px;
    /* background-color: #0180ff; */
    background-image: url(../images/up-arrow.png);
    display: block;
    background-size:contain;
    background-repeat: no-repeat;
}
/* .a-container::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    background-color: #002d59;    
} */

.a-container::-webkit-scrollbar-button:single-button:vertical:increment {
    width: 5px;
    /* background-color: #f19a0c; */
    background-image: url(../images/down-arrow.png);
    display: block;
    background-size:contain;
    background-repeat: no-repeat;
}
/* .a-container::-webkit-scrollbar-button:single-button:vertical:increment:hover {
    background-color: #9d6305;
} */


