@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Bold.ttf");
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: auto;

  font-weight: bold;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Regular.ttf");
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: auto;

  font-weight: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-SemiBoldItalic.ttf");
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: auto;

  font-weight: 400;
  font-style: italic;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

button:not(.disabled):focus {
  /* outline: solid 2px var(--selectioncolor);
  outline-style: auto; */
}

html,
body {
  font-size: 16px;
  height: 100%;
}

body {
  margin: 0;
  background-color: #f4f4f4;
  font-family: "Montserrat";
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.activity-container {
  padding: 20px;
  margin: auto;
  display: block;
}

.activity-header {
  padding: 20px 50px;
  position: relative;
}

.activity-title {
  color: var(--color1);
  font-size: var(--desktop-title-fontsize);
  font-weight: bold;
  width: var(--desktop-title-width);
}

.activity-instruction {
  font-weight: normal;
  color: var(--color2);
  font-size: var(--desktop-instruction-fontsize);
  margin-top: 20px;
  width: var(--desktop-instruction-width);
}

.activity-content {
  padding: 20px 50px;
}

.btn.btn-primary {
  /*background: var(--color1);*/
  font-family: "Montserrat";
  font-weight: bold;
  font-size: var(--desktop-button-fontsize);
  cursor: pointer;
  min-width: var(--desktop-button-width);
  background: none;
  border: solid 2px var(--color1);
  color: var(--color1);
  box-shadow: none !important;
  min-height: var(--desktop-button-height);
  border-radius: 40px;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
  background: var(--color3);
  /*color:  var(--color3);*/
  /*border:solid 1px  transparent;*/
}

.btn.btn-primary:active {
  background: var(--color1);
  color: var(--color3);
}

.btn[disabled] {
  background: #e9e9e9;
  border: none;
  color: #aaaaaa;
}

.feedback {
  color: var(--color2);
  font-weight: 400;
  text-align: left;
  font-size: var(--desktop-feedback-fontsize);
}


.human-heart-section {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none !important;
}

.human-heart-middle {
  background: #fff;
  padding: 40px 20px 40px;
  position: relative;
  min-width: 950px;
  text-align: center;
  margin: 0 10px;
  width: 950px;
}

.heart-part {
  position: absolute;
  display: flex;
  align-items: center;
  background: var(--color3);
  font-size: var(--desktop-terms-fontsize);
  width: 200px;
  padding: 12px 5px;
  border-radius: 3px;
  box-shadow: 0 3px 5px rgb(0 0 0 / 15%);
  box-sizing: border-box;
  min-height: 100px;
  cursor: pointer;
  border: 3px solid transparent;
}

/*.heart-part.unmatch-vis{
  margin-left:-250px !important;
}*/
.inner-section .heart-part.unmatch-vis {
  margin-left: auto !important;
}

.heart-part p {
  margin: 0;
}

.heart-part span {
  background: var(--color1);
  color: #FFF;
  width: 20px;
  height: 20px;
  font-weight: 700;
  border-radius: 50%;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  border: 2px solid var(--color1);
  ;
  flex-shrink: 0;
}

.side-menu {
  width: 200px;
  flex-shrink: 0;
}

.side-menu ul li {
  display: block;
  margin-bottom: 50px;
  border-radius: 3px;
  min-height: 100px;
}

.side-menu li a {
  background: #FFF;
  justify-content: flex-start;
  padding: 12px 5px;
  box-shadow: 0 3px 5px rgb(0 0 0 / 15%);
  border-radius: 5px;
  color: var(--color2);
  display: flex;
  align-items: center;
  font-size: var(--desktop-terms-fontsize);
  min-height: 100px;

  border: 3px solid transparent;
}

.side-menu ul li a span.circle {
  border: 2px solid var(--color1);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: block;
  margin-right: 8px;
  flex-shrink: 0;
}

.heart-part.active {
  color: #fff;
  background: var(--color1);
}

.heart-part.active span {
  background: #fff;
  border: 2px solid #FFF;
  color: var(--color1);
}

.side-menu ul li:last-child {
  margin-bottom: 0;
}

.check {
  border: 3px solid #21b458 !important;
  background: var(--color1);
  color: #fff;
}

.check span {
  background: #fff;
  color: var(--color1);
}

.check:after {
  content: "";
  width: 26px;
  height: 26px;
  position: absolute;
  display: block;
  background: url(../images/right-tick.svg) no-repeat;
  background-size: 100%;
  right: -14px;
}

.cross {
  border: 3px solid #cd594b !important;
}

.cross:after {
  content: "";
  width: 26px;
  height: 26px;
  position: absolute;
  display: block;
  background: url(../images/cross-tick.svg) no-repeat;
  background-size: 100%;
  right: -14px;
}

.left-side {
  margin-left: -200px;

}

.heart-part {
  margin-top: -50px;
}



.btn-primary {
  font-size: var(--desktop-button-fontsize);
  background: var(--color1);
  border-radius: 5px;
  color: #fff;
  border: 0;
  padding: 12px 30px;
  font-weight: 500;
}

.footer {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
  padding-right: 260px;

}

.submitted button {
  cursor: default;
  pointer-events: none;
}

.submitted .footer button,
.submitted .activity-header button {
  cursor: pointer;
  pointer-events: all;
}

.side-menu {
  position: relative;
}

.side-menu.mobile {
  display: none;
}

.pos-r {
  max-width: 500px;
  margin: auto;
  position: relative;
}

.inner-section {
  display: none;
}

.side-menu ul li.active a {
  border: 3px solid #707070;
}

.unmatch {
  position: absolute;
  right: 0px;
  background: #f5ba5c;
  color: var(--color1);
  ;
  padding: 10px 20px;
  top: -3px;
  right: -3px;
  bottom: 0;
  font-weight: 700;
  font-size: var(--desktop-terms-fontsize);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;

  height: calc(100% + 6px);
  width: 100px;
  font-weight: bold;

  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.footer-btns {
  text-align: center;
}

.heart-image {
  max-width: 100%;
  height: auto;
}

/*
@media (max-width: 1030px) {
  .heart-part {
    width: 160px;
  }
  .side-menu {
    width: 200px;
  }
  .activity-container {
    padding: 20px 10px;
  }
  .pos-r {
    transform: scale(0.8);
  }
  .human-heart-middle {
    width: 550px;
  }
}
@media (max-width: 1170px) {
  .heart-part {
    width: 170px;
    font-size: 10px;
  }
  .heart-part.left-side {
    left: -165px;
  }

  .heart-part.right-side {
    right: -165px;
  }
}

@media (max-width: 1030px) {
  .heart-part {
    width: 160px;
  }
  .side-menu {
    width: 200px;
  }
  .main {
    padding: 20px 10px;
  }
  .pos-r {
    transform: scale(0.8);
  }
  .human-heart-middle {
    width: 550px;
  }
}
*/
@media (max-width: 1279px) {
  .pos-r {
    /*transform: scale(0.7);*/
  }

  .side-menu {
    min-width: 150px;
  }

  .heart-part {
    width: 155px;
  }

  .activity-container {
    padding: 20px 0px 0px 0px;
  }

  .heart-part span {
    background: none;
    color: var(--color1);
  }

  .heart-part.active span {
    background: var(--color1);
    color: #FFF;
  }


  .heart-part.left-side {
    margin-left: -25px;
  }

  .heart-part {
    margin-top: -11px;
    width: 22px;
    height: 22px;
  }


  .feedback {
    margin-bottom: 25px;
    font-size: var(--mobile-feedback-fontsize);
  }
}

/*@media (max-width: 800px) {
  .human-heart-middle {
    width: 450px;
  }
  .pos-r {
    transform: scale(0.6);
  }
}*/

@media (max-width: 1279px) {

  html,
  body {
    font-size: 12px;
  }

  .activity-container {
    padding: 0px 0px 0px 0px;
    min-height: 100%;
  }

  .activity-header {
    padding: 40px 20px 20px 20px;
    margin: 0px 10px;
  }

  .activity-content {
    padding: 20px 15px 0px 15px;
    min-height: calc(100vh - 230px);
  }

  .activity-title {
    width: 100%;
    font-size: var(--mobile-title-fontsize);
  }

  .activity-instruction {
    width: 100%;
    font-size: var(--mobile-instruction-fontsize);
  }


  .footer {
    flex-direction: unset;
    justify-content: unset;
    display: block !important;
    position: -webkit-sticky;
    position: sticky;


    bottom: 0px;
    left: 0px;
    right: 0px;

    background: #F1F1F1;
    padding: 20px 30px;
    z-index: 1001;

    margin: 0px 0px 0px 0px;
    /* margin-right: -30px; */
    width: 100%;

    text-align: left;

    -webkit-box-shadow: 0px -4px 8px 0px rgba(112, 112, 112, .4);
    -moz-box-shadow: 0px -4px 8px 0px rgba(112, 112, 112, .4);
    box-shadow: 0px -4px 8px 0px rgba(112, 112, 112, .4);
  }

  .footer-btns {
    text-align: center;
  }

}

@media (max-width: 1279px) {
  .side-menu.mobile {
    display: block;
  }

  .heart-part {
    min-height: auto;
  }

  .human-heart-left {
    display: none;
  }

  .human-heart-right {
    display: none;
  }

  .human-heart-middle {
    width: auto;
    min-width: auto;
    margin: auto;
    padding-left: 0;
    max-width: calc(100% - 20%);
  }

  .heart-part {
    background: none;
    width: auto;
    min-width: auto;
    box-shadow: none;
  }

  .heart-part p {
    display: none;
  }

  .inner-section .heart-part {
    border: 3px solid var(--color1);
    color: var(--color1);
    position: relative;
    width: 84%;
    margin: 0 auto 10px;
    border-radius: 4px;
    min-height: 50px;
  }

  .inner-section .heart-part p {
    display: block;
    font-size: 12px;
  }

  .heart-part span {
    font-size: var(--mobile-terms-fontsize);
    width: 22px;
    height: 22px;
  }

  .heart-part.left-side {
    left: -24px;
  }

  .heart-part.right-side {
    right: -35px;
  }

  .inner-section {
    display: block;
  }

  .side-menu li {
    position: absolute;
    top: 0;
    left: 0;
  }

  .side-menu ul li {
    min-height: 50px;
  }

  .side-menu li a {
    font-size: var(--mobile-terms-fontsize);
    min-height: 50px;
  }

  .side-menu {
    position: relative;
    width: 90%;
    min-height: 50px;
    margin: 10px auto;
  }

  .side-menu li a {
    box-shadow: 0 2px 5px rgb(0 0 0 / 15%);
  }

  .side-menu li {
    position: relative;
    margin-top: -52px !important;
    margin-bottom: 0 !important;
    top: 0px !important;
  }

  .human-heart-section {
    background: #fff;
    margin: 0 -10px;
  }

  .side-menu.mobile ul {
    width: 100%;
    position: relative;
    margin: 85px auto 15px;
  }

  .pos-r .heart-part {
    border: 0 !important;
    background: none !important;
  }

  .pos-r .heart-part::after {
    display: none;
  }

  /*.pos-r {
    transform: scale(1);
  }*/
  h2 {
    font-size: 24px;
    padding: 15px 10px;
  }

  h2+p {
    padding: 0px 10px 10px;
  }

  .btn.btn-primary {
    font-size: var(--mobile-button-fontsize);
    min-width: var(--mobile-button-width);
    min-height: var(--mobile-button-height);
  }
}