@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat-Bold.ttf");
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: auto;

    font-weight: bold;
}

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat-Regular.ttf");
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: auto;

    font-weight: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat-SemiBoldItalic.ttf");
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: auto;

    font-weight: 400;
    font-style: italic;
}

*:focus:focus-visible {
    outline: solid 4px #000 !important;
    outline-offset: 3px;
}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

button:not(.disabled):focus {
    /*outline:solid 2px var(--selectioncolor);
    outline-style: auto;*/
}

html,
body {
    font-size: 16px;
}

body {
    margin: 0;
    background-color: #f4f4f4;
    font-family: "Montserrat";
}

.activity-container {
    padding: 20px;
    min-width: 320px;
}

.activity-header {
    /*background: #FFF;
    border: solid 1px #ddd;*/
    padding: 20px 50px;
    position: relative;

}

.activity-title {
    color: var(--color1);
    font-size: var(--desktop-title-fontsize);
    font-weight: bold;
    width: var(--desktop-title-width);
}

.activity-instruction {
    font-weight: normal;
    color: var(--color2);
    font-size: var(--desktop-instruction-fontsize);
    margin-top: 20px;
    width: var(--desktop-instruction-width);
}

.activity-content {
    /*background: #E6E6E6;
    border: solid 1px #ddd;*/
    padding: 20px 50px;
}

.clickable-items {
    position: relative;
}

.clickable-items .clickable-item,
.matching-items .clickable-item {
    background: var(--color1);
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--desktop-terms-height);
    width: var(--desktop-terms-width);
    margin: 0 auto 15px auto;
    border-radius: 6px;
    padding: 20px;
    box-shadow: 0px 3px 6px 0px rgba(112, 112, 112, 1);
    -webkit-box-shadow: 0px 3px 6px 0px rgba(112, 112, 112, 1);
    -moz-box-shadow: 0px 3px 6px 0px rgba(112, 112, 112, 1);

    border: solid 4px transparent;

    cursor: pointer;

}

.clickable-items .clickable-item,
.matching-items .clickable-item {
    border: solid 4px transparent;
    border-radius: 4px;
}

.clickable-items .clickable-item.selected {
    /*.clickable-items .clickable-item:focus, .matching-items .clickable-item:focus*/
    border: solid 4px var(--selectioncolor);

}

.clickable-items .clickable-item p,
.matching-items .clickable-item p {
    margin-bottom: 0px;
    font-weight: bold;
    font-size: var(--desktop-terms-fontsize);
    text-align: center;
    max-height: 105%;
    overflow: hidden;
}

.matching-element {
    border: solid 4px transparent;
    margin: 0 auto 15px auto;
    border-radius: 6px;
    display: inline-flex;
    position: relative;
}

.matching-element.submitted::after {
    content: "";
    width: 36px;
    height: 36px;

    top: calc(50% - 18px);
    right: -18px;
    position: absolute;
    display: inline-block;
    z-index: 1;
    background-size: contain;
}

.matching-element.correct-ans.submitted {
    border: solid 4px #4A9D64;
    border-radius: 10px;
    background: #FFF;
}

.matching-element.wrong-ans.submitted {
    border: solid 4px #CE5A4C;
    border-radius: 10px;
    background: #FFF;
}

.matching-element.correct-ans.submitted::after {
    background-image: url(../images/tick.svg);
}

.matching-element.wrong-ans.submitted::after {
    background-image: url(../images/cross.svg);
}

.matching-items {
    margin-top: 25px;
    position: relative;
}

.matching-items .matching-item {
    background: #FFF;
    color: var(--color2);
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--desktop-definition-height);
    max-width: var(--desktop-definition-width);
    border-radius: 6px;
    padding: 20px 40px;
    box-shadow: 0px 3px 6px 0px rgba(112, 112, 112, 1);
    -webkit-box-shadow: 0px 3px 6px 0px rgba(112, 112, 112, 1);
    -moz-box-shadow: 0px 3px 6px 0px rgba(112, 112, 112, 1);
    border: none !important;
    overflow: hidden;
}

.matching-items .matching-item p {
    margin-bottom: 0px;
    font-weight: normal;
    font-size: var(--desktop-definition-fontsize);
    text-align: left;
    pointer-events: none;
    max-height: 95%;
    overflow: hidden;
    text-align: left;
    width: 100%;

}

.matching-items.submitted .clickable-item {
    cursor: default;
}

.btn.btn-primary {
    /*background: var(--color1);*/
    font-family: "Montserrat";
    font-weight: bold;
    font-size: var(--desktop-button-fontsize);
    cursor: pointer;
    min-width: var(--desktop-button-width);
    border-radius: 40px;
    background: none;
    min-height: 64px;
    border: solid 2px var(--color1);
    color: var(--color1);
    box-shadow: none !important;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
    background: var(--color3);
    /*color:  var(--color3);*/
    /*border:solid 1px  transparent;*/
}

.btn.btn-primary:active {
    background: var(--color1);
    color: var(--color3);
}

.btn[disabled] {
    background: #e9e9e9;
    border: none;
    color: #aaaaaa;
}

.unmatch-button {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100px;
    background: #F5BA5C;
    color: #001936;
    height: var(--desktop-definition-height);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
    font-weight: bold;
}

.matching-items .matching-element.filled.submitted .matching-item,
.matching-items .matching-element.filled.submitted .clickable-item {
    box-shadow: none;
}

.matching-items .matching-element.filled.submitted {
    box-shadow: 0px 3px 6px 0px rgba(112, 112, 112, 1);
    -webkit-box-shadow: 0px 3px 6px 0px rgba(112, 112, 112, 1);
    -moz-box-shadow: 0px 3px 6px 0px rgba(112, 112, 112, 1);
}

.matching-items-mobile {
    display: none;
}

.feedback {
    color: var(--color2);
    font-weight: 400;
    text-align: left;
    font-size: var(--desktop-feedback-fontsize);
}



.matching-element.unmatch-vis {
    /*margin-left:-30px !important;*/
}

@media (min-width: 992px) {
    .footer {
        margin-top: 50px;
    }

    .clickable-items {
        /*min-height: 50px;*/
    }

    .matching-items .row {
        --bs-gutter-x: 50px !important;
    }

    .clickable-items .row .col {
        /*min-height:165px;*/
    }

    .matching-items .clickable-item,
    .matching-items .matching-item {
        display: inline-flex;
        ;
        vertical-align: top;
        ;
    }

    .matching-items .clickable-item {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        margin: 0px;
        flex-shrink: 0;
    }

    .matching-items .matching-item:not(.filled) {
        margin-left: var(--desktop-terms-width);
        width: 74%;

    }

    .matching-items .clickable-item+.matching-item {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-left: 0px;
    }


    .matching-items .matching-element {
        display: inline-flex;
        gap: 0;
        width: 74%;
    }

    .footer-btns {
        text-align: right;
    }
}

.btn[disabled] {
    background: #e9e9e9;
    border: none;
    color: #aaaaaa;
}

@media (max-width: 991px) {

    html,
    body {
        font-size: 12px;
    }

    .activity-container {
        padding: 0px;
    }

    .activity-header {
        padding: 40px 30px 20px 30px;
    }

    .activity-title {
        width: 100%;
        font-size: var(--mobile-title-fontsize);
    }

    .activity-instruction {
        width: 100%;
        font-size: var(--mobile-instruction-fontsize);
    }

    .activity-content {
        padding: 20px 30px 0px 30px;
    }

    .clickable-items,
    .clickable-items .clickable-item {
        height: var(--mobile-terms-height);
    }

    .clickable-items .clickable-item p,
    .matching-items .clickable-item p {
        font-size: var(--mobile-terms-fontsize);
    }

    .clickable-items .clickable-item {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 97%;
        min-height: var(--mobile-terms-height);
        padding: 15px;
        margin-bottom: 0px;
        border: solid 4px #FFF;
    }

    .clickable-items .row>div:nth-child(1) .clickable-item {
        left: 2px;
    }

    .clickable-items .row>div:nth-child(2) .clickable-item {
        left: 4px;
    }

    .clickable-items .row>div:nth-child(3) .clickable-item {
        left: 6px;
    }

    .clickable-items .row>div:nth-child(4) .clickable-item {
        left: 8px;
    }

    .clickable-items .row>div:nth-child(5) .clickable-item {
        left: 10px;
    }

    .clickable-items .row>div:nth-child(6) .clickable-item {
        left: 12px;
    }

    .clickable-items .row>div:nth-child(7) .clickable-item {
        left: 14px;
    }

    .clickable-items .row>div:nth-child(8) .clickable-item {
        left: 16px;
    }

    .clickable-items .row>div:nth-child(9) .clickable-item {
        left: 18px;
    }

    .clickable-items .row>div:nth-child(10) .clickable-item {
        left: 20px;
    }

    .clickable-items .row>div:nth-child(n+10) .clickable-item {
        left: 20px;
    }

    .matching-items {
        flex-direction: row;
    }

    .matching-items .matching-element {
        display: flex;
        flex-direction: column;
        ;
        gap: 0;
        width: 74%;

    }

    .matching-items .clickable-item {
        margin: 0px;
        width: 100%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        height: auto;
        min-height: 50px;
    }

    .matching-items .matching-item {
        width: 100%;
        max-width: 100%;
        overflow: hidden;
        padding: 20px;
        height: auto;
        min-height: var(--mobile-definition-height);
    }

    .matching-items .matching-item p {
        font-size: var(--mobile-definition-fontsize);
    }

    .matching-items .clickable-item+.matching-item {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .matching-items-mobile {
        display: block;
    }

    .matching-items-mobile .col.filled {
        display: none !important;
    }

    .matching-items-all {
        margin: 15px -30px 0px -30px;
        padding: 10px 30px 0px 30px;
    }

    .matching-items-all.filled-at-least-one {
        border-top: dashed 3px var(--color2);
    }

    .matching-items-all .col.filled {
        display: block;
    }

    .matching-items-all .col:not(.filled) {
        display: none !important;
    }



    /*body{
        padding-bottom:85px;
    }
    body.submitted{
        padding-bottom:120px;
    }*/

    .footer {
        position: -webkit-sticky;
        position: sticky;
        bottom: -1px;
        left: 0px;
        right: 0px;

        background: #F1F1F1;
        padding: 20px 30px;
        z-index: 1001;

        margin-left: -30px;
        /* margin-right: -30px; */
        width: calc(100% + 60px);

        -webkit-box-shadow: 0px -4px 8px 0px rgba(112, 112, 112, .4);
        -moz-box-shadow: 0px -4px 8px 0px rgba(112, 112, 112, .4);
        box-shadow: 0px -4px 8px 0px rgba(112, 112, 112, .4);
    }

    .footer-btns {
        text-align: center;
    }

    .feedback {
        margin-bottom: 25px;
        font-size: var(--mobile-feedback-fontsize);
    }

    .footer button {
        margin: 0 auto;
    }

    .unmatch-button {
        height: 100%
    }

    .btn.btn-primary {
        font-size: var(--mobile-button-fontsize);
        min-width: var(--mobile-button-width);
        min-height: var(--mobile-button-height);
    }


    /* updated by RK */

    .matching-items .matching-item:not(.filled) {
        width: 100%;
    }

    .matching-items .matching-element {
        width: 100%;
    }

    .matching-items .matching-element {
        width: 100%;
    }


    /* updated by RK */
}


@media (max-width: 320px) {
    .activity-header {
        padding: 10px 30px 10px 10px
    }

    .activity-content {
        padding: 10px 10px 0px 10px;
    }

    .matching-items-all {
        margin: 0px -10px;
        padding: 10px 10px 0px 10px;
    }

    .footer {
        margin: -10px;
        /* margin-right: -30px; */
        width: calc(100% + 20px);
    }
}

/* updated by RK */
@media (min-width: 1400px) {
    .matching-items .matching-item:not(.filled) {
        width: 100%;
    }

    .matching-items .matching-element {
        width: 100%;
    }

    .matching-items .matching-element {
        width: 100%;
    }
}

/* updated by RK */